#comp_inf_main {
  width: 100%;
  color: #fff;
}

#comp_inf_main-container {
  background: var(--lt-color-orange-600);
  padding: 20px;
  float: left;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

#comp_inf_main > * {
  font: normal normal normal 12px/16px Montserrat;
}

#comp_inf_main-txt,
#comp_inf_main-contacto {
  border-bottom: 1px solid #fff;
}

#comp_inf_main-container > div {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#comp_inf_main-contacto,
#comp_inf_main-horario div {
  white-space: pre;
}

#comp_inf_main-horario .reloj {
  text-transform: uppercase;
  font: normal normal normal 17px/19px Montserrat;
}
