@import url('./common/normalize.css');

:root {
  --lt-color-gray-100: #f8f9fc;
  --lt-color-gray-200: #f1f3f9;
  --lt-color-gray-300: #dee3ed;
  --lt-color-gray-400: #c2c9d6;
  --lt-color-gray-500: #8f96a3;
  --lt-color-gray-600: #5e636e;
  --lt-color-gray-700: #2f3237;
  --lt-color-gray-800: #1d1e20;
  --lt-color-gray-900: #111213;
  --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
  --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
  --lt-color-white: #fff !important;
  --lt-color-black: #111213 !important;
  --lt-color-transparent: rgba(255, 255, 255, 0) !important;
  --lt-color-background-light: var(--lt-color-gray-100) !important;
  --lt-color-background-default: var(--lt-color-gray-200) !important;
  --lt-color-background-dark: var(--lt-color-gray-300) !important;
  --lt-color-border-light: var(--lt-color-gray-200) !important;
  --lt-color-border-default: var(--lt-color-gray-300) !important;
  --lt-color-border-dark: var(--lt-color-gray-400) !important;
  --lt-color-text-very-light: var(--lt-color-gray-500) !important;
  --lt-color-text-light: var(--lt-color-gray-600) !important;
  --lt-color-text-default: var(--lt-color-gray-700) !important;
  --lt-color-text-dark: var(--lt-color-gray-800) !important;
  --lt-color-overlay-default: #fff !important;
  --lt-color-overlay-dark: #fff !important;
  --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
  --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;

  --lt-color-cyan-200: #1cd1fe;
  --lt-color-cyan-400: #5cc7ef;
  --lt-color-cyan-700: #28a9bc;
  --lt-color-orange-200: #f9b26f;
  --lt-color-orange-400: #f79534;
  --lt-color-orange-600: #ff9933;
  --lt-color-white-200: #fafafa;
  --lt-color-white-400: #f6f6f6;
  --lt-color-white-500: #f5f5f5;
  --lt-color-white-700: #e6e6e6;
  --lt-color-blue-500: #002a5e;
  --lt-color-black-100: #a09898;
  --lt-color-black-200: #77756c;
  --lt-color-black-300: #525252;
  --lt-color-black-400: #3e3e3e;
  --lt-color-black-500: #333333;
  --lt-color-black-600: #242424;
}

*,
body {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  direction: ltr;
  font-family: Noto Sans, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.01em;
  -webkit-text-size-adjust: 100%;
  color: #232323;
  line-height: 1.25em;
  min-height: 100vh;
}

a,
button {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0px;
}
button:hover {
  background-color: inherit;
  cursor: pointer;
}
input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
}