.dropDownInfo_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropDownInfo_div h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
