#productForm {
    width: 100%;
}
#productForm * {
    margin: 0;
    text-align: center
}
.productForm-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.productForm-title {
    grid-column: span 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productForm-title > span {
    width: 160px
}

.productForm_leftSection {
    grid-column: span 2;
}
.productForm_rightSection {
    grid-column: 3 / span 3;
}

.productForm_leftSection > div {
    display: flex;
    flex-direction: column;
}

.productForm_rightSection .content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    min-height: 160px;
    padding: 0 0.5rem 0 1.5rem;
    font-size: 13px;
}
.productForm_rightSection .content textarea {
    min-height: 120px;
}
