#articleForm {
    width: 100%;
}
#articleForm * {
    margin: 0;
    text-align: center
}
.articleForm-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.articleForm-title {
    grid-column: span 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articleForm-title > span {
    width: 160px
}

.articleForm_leftSection {
    grid-column: span 2;
}
.articleForm_rightSection {
    grid-column: 3 / span 3;
}

.articleForm_leftSection > div {
    display: flex;
    flex-direction: column;
}
.articleForm_leftSection .fecha_Autor {
    flex-direction: row;
}

.fecha_Autor span {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.fecha_Autor span:last-child {
    padding-left: 20px;
}

.articleForm_rightSection .content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    min-height: 160px;
    padding: 0 0.5rem 0 1.5rem;
    font-size: 13px;
}
.articleForm_rightSection .content textarea {
    min-height: 120px;
}
.articleForm_rightSection .content:first-child {
    min-height: 100px;
}
.articleForm_rightSection .content:first-child textarea {
    min-height: 80px;
}

.buttonMoreContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem 1rem;
}