.header-top {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
}
.header-top__menu {
    height: 100%;
    padding: 0 0.5rem;
    padding-right: 1.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header-top__menu span {
    font-size: 0.6rem;
    line-height: 0.7rem;
    font-weight: 300;
    color: #454545;
}
.header-top__logo {
    max-width: 40%;
    margin: 0;
}
.header-top__logo img {
    height: 100%;
}
.header-top__icons {
    margin: 0;
    display: flex;
}
.header-top__icon {
    height: 100%;
    padding: 0 0.3rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header-top__icon span {
    font-size: 0.6rem;
    line-height: 0.7rem;
    font-weight: 300;
    color: #454545;
}
