#page_admin {
  width: 100%;
  min-height: 100vh;
  background-color: var(--lt-color-gray-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal normal normal 1.2rem/1.8rem Montserrat;
}

/* Admin body styles */
.admin_body {
  width: 100%;
  max-width: 960px;
  min-height: 82vh;
  margin: 0.6rem auto;
  padding: 20px;
  background-color: var(--lt-color-gray-300);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid var(--lt-color-gray-400);
  position: relative; /* for loader */
}

/* ... Admin body styles */
