._results-section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
}
._results-section__title {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0.8rem;
}
._results-section__suggestion {
    width: 100%;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
._results-section__suggestion p {
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    font-weight: 300;
}


._suggestions_borrar {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--lt-color-orange-200);
    margin-right: 0.5rem;
    white-space: nowrap;
}
._suggestions_borrar:hover {
    cursor: pointer;
    color: var(--lt-color-orange-600)
}


._results-section_products {
    width: 100%;
    margin: 0;
    display: flex;
    overflow-x: auto;
    gap: 0.5rem;
    /* box-shadow: grey 0px 30px 40px -2em inset; */
}
._results-section_products::-webkit-scrollbar {
  display: none;
}
._results-section_products {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


._results-section_product-container {
    min-width: 34%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5rem 0 1.5rem 0;
}

._results-section_product-name {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.24px;
    color: #333333;
    line-height: 1.2rem;
    padding: 0.5rem 0;
}
._results-section_product-price {
    text-align: center;
}